| Font license info
!= '\n\n\n'

| ## #{font.fullname}
!= '\n\n'
|    #{font.copyright}
!= '\n\n'
|    Author:    #{meta.author}
|    License:   #{meta.license} (#{meta.license_url})
|    Homepage:  #{meta.homepage}
!= '\n\n\n'
